{% extends "base/base.html" %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content %}
    <!-- Carousel Start -->
    <div id="home" class="container-fluid p-0 mb-5">
        <div id="blog-carousel"
             class="carousel slide overlay-bottom"
             data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="w-100" src="{% static 'img/meeting.jpg' %}" alt="Image">
                    <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                        <h2 class="text-primary font-weight-medium m-0">Meeting Minutes Generator</h2>
                        <h1 class="display-1 text-white m-0"></h1>
                        <a href="{% url 'upload' %}" class="btn btn-primary mt-4">Try It</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Carousel End -->
    <!-- Service Start -->
    <div id="service" class="container-fluid pt-5">
        <div class="container">
            <div class="section-title">
                <h4 class="text-primary text-uppercase" style="letter-spacing: 5px;">Our Services</h4>
            </div>
            <div class="row">
                <div class="col-lg-6 mb-5">
                    <div class="row align-items-center">
                        <div class="col-sm-5">
                            <img class="img-fluid mb-3 mb-sm-0"
                                 src="{% static "img/speech-to-text-icon.jpg" %}"
                                 alt="">
                        </div>
                        <div class="col-sm-7">
                            <h4>
                                <i class="fa fa-microphone service-icon"></i>Speech to text
                            </h4>
                            <p class="m-0">Google Cloud services</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Service End -->

    <!-- Testimonial Start -->
    <div id="testimonial" class="container-fluid py-5">
        <div class="container">
            <div class="section-title">
                <h4 class="text-primary text-uppercase" style="letter-spacing: 5px;">Testimonial</h4>
                <h1 class="display-4">Our Clients Say</h1>
            </div>
            <div class="owl-carousel testimonial-carousel">
                {% for i in "1234" %}
                    <div class="testimonial-item">
                        <div class="d-flex align-items-center mb-3">
                            <img class="img-fluid"
                                 src="{% static "img/testimonial-"|add:i|add:".jpg" %}"
                                 alt="">
                            <div class="ml-3">
                                <h4>Client Name</h4>
                                <i>Profession</i>
                            </div>
                        </div>
                        <p class="m-0">
                            Sed ea amet kasd elitr stet, stet rebum et ipsum est duo elitr eirmod clita lorem. Dolor tempor ipsum sanct clita
                        </p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Testimonial End -->

{% endblock %}
